:root {
    --primary-color: #BFC0C0;
    --secondary-color: #EF8354;
    --tertiary-color: #255f85;
  }
 
  * {
    font-family:Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
  }
    header {
      padding: 20px 35px;
      background-color: var(--tertiary-color);
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      position: sticky;
      top: 0;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      background-position: 80%;
      z-index: 9999;
  }
  
    header h1 {
      font-weight: bold;
      font-size: 36px;
      color: var(--primary-color);
      margin: 0; 
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
  
    header a {
      text-decoration: none;
      color: var(--primary-color);
    }
  
    header nav {
      margin: 7px 0;
    }
  
    .dropbtn {
      background-color: #04AA6D;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
    }

    header nav {
      margin: 7px 0;
    }
  
   .navList {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      list-style: none;
    }
  
    .navBtn {
      padding: 10px 15px;
      font-weight: lighter;
      font-size: 1.55vw;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
  
    .navBtn:hover {
      background: var(--primary-color);
      color: var(--secondary-color);
      border-radius: 15px;
      text-shadow: none;
    }  
  
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdown-content a:hover {background-color: #ddd;}
    
    .dropdown:hover .dropdown-content {display: block;}
  
    .dropdown:hover .dropbtn {background-color: #3e8e41;}

.box {
  flex-direction: column-reverse;
  flex-wrap: wrap;
  flex-wrap: wrap;                                                                             
  align-items: center;
  margin: 10px;
  background-color:#EF8354;
  text-decoration-color:white;

}

.widget {
  order: 4;
  align-self: flex-end;
  max-width:360px; 
  width:96%; 
  margin: 0 auto
}

  footer {
  padding: 20px 35px;
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
  }
   
    footer h2 {
      color: #BFC0C0;
      font-size: xx-large;
      font-family: cursive;
    }

    #secondPgHero {
      display: none;
    }


    .noBtn {
      display: none;
    }

  
    .col-6 img {
      border: 10px solid #255f85;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      margin-left: 15px;
      max-width:100%;
      height:auto;
      
     }

    .listings {
      margin-top: 20px;
      color: #ffff;
    }

    .instructions {
      margin: 10px;
      padding: 10px;
    }
    
    .text {
      margin: 10px;
      padding: 10px;
    }

    .heading {
      text-align: center;
      color: #fff;
      padding: 20px;
      font-size: 40px;
      font-weight: bold;
    }

    .pairings {
      margin: 10px;
      padding: 10px;
      color: var(--tertiary-color);
    }